// реализация звездочочек для input type password

//@font-face {
//  font-family: 'fontello';
//  src: url('../../../font/fontello.eot?40882295');
//  src: url('../../../font/fontello.eot?40882295#iefix') format('embedded-opentype'),
//  url('../../../font/fontello.woff2?40882295') format('woff2'),
//  url('../../../font/fontello.woff?40882295') format('woff'),
//  url('../../../font/fontello.ttf?40882295') format('truetype'),
//  url('../../../font/fontello.svg?40882295#fontello') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

//input[type="password"] {
//  font-family: "fontello";
//  font-size: 14px;
//  &::placeholder{
//    font-family: Tahoma;
//    font-size: 18px;
//  }
//}


.wrapper-form{
  background-color: #12151e;
  height: 100vh;
  background-size: 100vh;
  background-image: url("../../assets/G-logo.png");
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  padding-top: 300px;
}


@mixin icon-svg($URL, $width, $height) {
  width: $width;
  height: $height;
  -webkit-mask-image: url($URL);
  -webkit-mask-size: $width $height;
  -webkit-mask-repeat: no-repeat;
}

.form{
  width: 604px;
  height: 541px;
  background: rgba(39, 42, 56, 0.5);
  border: 1px solid #0089FF;
  font-size: 18px;
  padding: 67px 79px 62px 80px;
  border-radius: 5px;

  backdrop-filter: blur(6px);


  &__header{
    display:flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 50px;
  }
  &__logo{
    @include icon-svg("../../assets/gaz_logo.svg", 126px, 60px);
    background-color: white;
    position: relative;
    bottom: 7px;
  }
  &__name{
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21.9248px;
    color: white;
    padding-left: 17px;
    border-left: 2px solid white;
  }
  &__name>.blue-text{
    color: #0089FF;
  }




  &__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
    margin-bottom: 71px;
  }



  &__input{
    background-color: transparent;
    border:none;
    height: 100%;
    flex-grow: 1;
    font-size: 18px;
    color: #8C99B2;
    padding: 0 60px 0 60px;
    &:focus{
      outline: none;
    }
  }
  &__inputWrapper{
    width: 445px;
    height: 70px;
    background: #12151E;
    border-radius: 2px;
    border: 1px solid #272A38;

    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 200ms;

    &-active{
      background: rgba(0, 137, 255, 0.2);
      border: 1px solid #0089FF;
      .form__icon{
        background:white;
      }
      .form__input{
        color:white;
      }
      .form__passwordEye{
        background: #0089FF;
      }
      .form__input::placeholder{
        color:white;
      }
    }
  }

  &__icon{
    background: #8C99B2;
    margin-left: 23px;
    position: absolute;
    pointer-events: none;
    &-login{
      @include icon-svg("../../assets/user_login_icon.svg", 25px, 25px);
    }
    &-password{
      @include icon-svg("../../assets/pswd_icon.svg", 19px, 24px)
    }
  }
  &__passwordEye{
    position: absolute;
    @include icon-svg("../../assets/eye-crossed.svg", 20px, 16px);
    background: #8C99B2;
    right: 26px;
    cursor: pointer;
    &-active{
      @include icon-svg("../../assets/pswd_eye_icon.svg", 20px, 14px);
    }
  }



  &__btn{
    width: 445px;
    height: 57px;
    background: #303549;
    color: #D7E2F2;
    border: none;
    transition: .35s;
    font-size: 18px;
    cursor: pointer;


    &:hover{
      background: #0089FF;
      color: white;
    }
    &:active{
      transition: 0s;
      -webkit-box-shadow: 0px 0px 16px 3px rgba(34, 60, 80, 0.63) inset;
      -moz-box-shadow: 0px 0px 16px 3px rgba(34, 60, 80, 0.63) inset;
      box-shadow: 0px 0px 16px 3px rgba(34, 60, 80, 0.63) inset;
    }
  }
}

